.gris{
    background-color: rgb(61, 64, 71);
    color: antiquewhite;
}

.menosBrillo{
    filter: brightness(0.5);
}

.verde{
    background-color: rgb(133, 184, 58);
    color: antiquewhite;
}

.pie{
    background-color: rgb(22, 78, 95);
    
}

.cortada{
    height: 700px;
    object-fit:cover ;
    object-position: bottom;
    
}

@media (min-width:576px){
    .textoResp{    
         translate: 50% -50%;
         width: 50%;
    }
}

@media (min-width:1024px){
    .textoResp{    
        translate: 50% -50%
    }
}
